/* CSS Document */
h1 {
	color: #00000;
	text-align: center;
	font-size: 24;
	font-weight: bolder;
}
p {
	color:#000;
	font-size: 16;
	font-weight:bold;
	text-align: center;
	background-color: #F52532
}
body{
	background-color:#EF7F01;
}
img {
	float: right;
}